*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
/* .navbarhead{
    display: flex;
    justify-content: space-between;
} */
body{
   
    

    main {
        margin-top: 50px;
    }
    form.searchbar{
        width:45%;
    }

    
  
   .carousel-inner{
        height:670px;
    
   }
 
   .carousel-item img{
    width:100%
    height:100%;
    
    object-fit:cover;
   
    
   }
   
   .card:hover{
    box-shadow: 2px 2px 5px 8px  grey;
   }
   footer {
    /* height:350px; */
    /* background-color:black; */
    /* background-image: url(/static/images/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    


    /* border: 2px solid  green; */
    /* border-radius: 10px;
    color:black; */
    /* font-family: Arial; */
    /* display:flex; */

    
    
   }

   
}